<!DOCTYPE html>
<html ng-app="projections">
  <head>
    <meta charset="utf-8">
    <title>Projection Explorer</title>
    <script src="angular.min.js"></script>
    <script src="mercator.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body overlay reflow>
    <div class="wrapper" ng-controller="ProjectionsController">
      <input type="range" min="-180" max="180" step="1" ng-model="offsets.latitude" ng-model-int>
      <input type="range" min="-180" max="180" step="1" ng-model="offsets.longitude" ng-model-int>
      <chart
        chart="chart"
        offsets="offsets"
        chart-bounds="bounds"
        width="800"
        height="740"
      >
      </chart>
    </div>
  </body>
</html>
