* {
  box-sizing: border-box;
}

body {
  background: #068dc5;
  color: white;
}

.input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  height: 30px;
}

svg {
  display: block;
  margin: 0 auto;
}

.land {
  fill: #f7f7f7;
  fill-opacity: 1;
  stroke: none;
}

