html,
body {
  margin: 0;
  height: 100%;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #229bd8;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  position: absolute;
  left: 0;
  top: 20px;
  padding: 5px 10px;
  font-size: 15px;
  transition: opacity 1s;
  opacity: 1;

  background: #333333;
  color: white;
  font-family: monospace;
  padding: 8px 16px;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2)
}

.hide {
  opacity: 0;
}

svg {
  touch-action: none;
  background-color: #068dc5;
  width: min(100vh, 100vw);
  height: min(100vh, 100vw);
}

path {
  fill: #f7f7f7;
  fill-opacity: 1;
  stroke: none;
}
