* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #068dc5;
  color: white;
}

.wrapper {
  text-align: center;
  min-width: 1010px;
  min-height: 665px;
}

a,
a:visited {
  color: white
}

chart {
  display: block;
}

.land {
  fill: #f7f7f7;
  fill-opacity: 1;
  stroke: none;
}

